.countdown {
  .box {
    height: 46px;
    width: 49px;
    background-color: rgba(12, 12, 30, 0.42);
  }
}

.score-box {
  height: 46px;
  width: 60px;
  background-color: rgba(12, 12, 30, 0.42);
}
