.app {
  text-align: center;
  min-height: 100vh;
  overflow-y: hidden;
}
[role='button'] {
  cursor: pointer;
  outline: 0;

  &[disabled] {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }
  &:focus {
    outline: none;
  }
}

.app-link {
  &-tomato {
    color: tomato;
    &:hover {
    color:yellowgreen;
    }
  }

  &-yellowgreen {
    color: yellowgreen;
    &:hover {
      color:tomato;
      }
  }
}

.app-button {
  min-width: 100px;
  outline: 0;
  &:focus {
    outline: none;
  }
}

.app-content {
  color: #282c34;
  font-size: calc(10px + 2vmin);
  height: 40vh;
}

.bg-tomato {
  background-color: tomato;
}

.bg-yellowgreen {
  background-color: yellowgreen;
}

.app-title {
  font-size: calc(10px + 6vmin);

}
